.sidebar-parent {
  display: flex;
  position: fixed;
  left: 0;
  top: 60px;
  width: 250px;
  background: var(--black);
  height: calc(100vh - 60px);
  align-items:center;
  flex-direction: column;

  justify-content: space-between;

  .list {
    padding: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    li {
      color: rgba(255, 255, 255, 0.616);
      display: flex;
      border: 1px solid rgba(214, 213, 213, 0.329);
      border-radius: 10px;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: var(--trans-m);

      &:hover {
        background: rgba(214, 213, 213, 0.329);
      }
    }
  }
  .logout-btn {
    display: flex;
    background: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
   .btn{
      padding: 10px;
      color:black;
      display: flex;
      gap:10px;
      background:rgba(214, 213, 213, 0.329);
      &:hover{
       background:black;
       color:white;
       border:1px solid rgba(214, 213, 213, 0.329);
      }

    }

  }
}
