.dashboard-parent {
  margin-top: 100px;
  width: calc(100% - 250px);
  margin-left: 250px;
  .dashboard-cont {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    //css for domain details
    .top-section {
      padding: 20px;
      background: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .domain-deatil-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 18px;
          border: 1px solid rgba(0, 0, 0, 0.39);
          border-radius: calc(var(--unit) / 2);
          padding: calc(var(--unit) / 4);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: black;
        }
      }
      .domain-details {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        justify-content: flex-start;
        .detail-left,
        .detail-right {
          display: flex;
          gap: 30px;

          p {
            color: black;
            font-weight: 600;
            font-size: 16px;
          }

          span {
            color: rgb(66, 66, 66);
            font-weight: 400;
            font-size: 16px;
          }

          .expiredate {
            &.active {
              span {
                color: orangered;
              }
            }
          }
        }
      }

      .login-detail {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        justify-content: flex-start;

        p {
          color: black;
          font-weight: 600;
          font-size: 16px;
        }

        span {
          color: rgb(66, 66, 66);
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    //css for subdomain list
    .middle-section,
    .fourth-section {
      display: flex;
      background: white;
      padding: 20px;
      border-radius: 10px;
      flex-direction: column;
      gap: 20px;
      .subdomain-list,
      .website-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .ant-table-wrapper {
          width: 100%;
        }
      }
    }
    .middle-section {
      .under-middle {
        display: flex;
        justify-content: space-between;
      }
      .edit-btn {
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.39);
        border-radius: calc(var(--unit) / 2);
        padding: calc(var(--unit) / 4);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: black;
      }
    }

    .fourth-section {
      .website-list {
        .ant-table-wrapper {
          width: 100%;
        }
      }
    }

    //css for third section - login details
    .third-section {
      display: flex;
      background: white;
      padding: 20px;
      border-radius: 10px;
      flex-direction: column;
      gap: 20px;
      .subdomain-list,
      .website-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  .fifth-section {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    .email-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      .ant-table-wrapper {
        width: 100%;
      }
    }
  }
}
