.dashboard-parent {
  margin-top: 100px;
  width: calc(100% - 250px);
  margin-left: 250px;
  .dashboard-cont {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    //css for domain details
    .top-section {
      padding: 20px;
      background: white;
      border-radius: 10px;display: flex;
      flex-direction: column;
      gap:20px;
      .domain-details{
        display: flex;
        gap:40px;
        .detail-left, .detail-right{
            display: flex;gap:30px;
            // flex-direction: column;
        }
      }
    }

    //css for subdomain list 
    .middle-section, .fourth-section{
        display: flex;
        background: white;
        padding:20px;
        border-radius: 10px;
        flex-direction: column;
        gap:20px;
        .subdomain-list, .website-list{
            display: flex;align-items: center;
            flex-wrap: wrap;
            gap:10px;
        }
    }

    .fourth-section{
      .website-list{
        .ant-table-wrapper{
          width: 100%;
        }
      }
    }

    //css for third section - login details
    .third-section{
      display: flex;
      background:white;
      padding:20px;
      border-radius: 10px;
      flex-direction: column;
      gap:20px;
      .login-detail{
        display: flex;
        gap:20px;
        p{
          // color:black;
          span{
            color:rgba(0, 0, 0, 0.623);
          }
        }
      }
    }
  }
}
